body {
 background-color: rgb(216, 210, 201);
 color: rgb(0, 0, 0);
 font-family: "Jacquarda Bastarda 9", serif;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px;
 margin: 0; 
}

button {
  background-color: rgb(27, 23, 23);
  color: rgb(255, 255, 255);
  font-family: "Jacquarda Bastarda 9", serif;
}
.passo {
 display: none;
}

.passo.ativo {
 display:block;
}






